# Core Data Science Libraries
numpy
pandas
scikit-learn
scipy

# Machine Learning Libraries
xgboost
imbalanced-learn

# Visualization Libraries
matplotlib
seaborn

# Web Framework
flask
streamlit


# Jupyter Notebook Support
jupyter
ipykernel


